body {
  background-color: #a3a3a3;
  background-image: url("../static/img/pattern.png");
  background-size: 100px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.today {
  color: red;
}
.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #738186;
  width: 960px;
  height: 660px;
  margin: 100px auto;
  position: relative;
}
.bookdot {
  position: absolute;
  margin: 10px;
  padding-left: 936px;
  padding-top: 636px;
  border: 0.1px dashed white;
  border-radius: 7px;
  border-width: 2px;
}
.page {
  position: absolute;
  background-color: lightgray;
  top: 8px;
  left: 8px;
  right: 8px;
  width: 920px;
  bottom: 8px;
  height: 620px;
  border-radius: 7px;
  display: flex;
}
.container1 {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.item1 {
  flex: 0.06;
  font-size: 17px;
  text-align: center;
}
.item2 {
  flex: 0.93;
  border-radius: 7px;
  background-color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
}
.container2 {
  flex: 0.62;
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 10px;
  height: 600px;
  width: 545.597px;

}
.item34 {
  flex: 0.06;
  display: flex;
}
.item3 {
  flex: 0.5;
  font-size: 17px;
}
.item4 {
  flex: 0.5;
  font-size: 15px;
  text-align: right;
}
.item5 {
  flex: 0.93;
  border-radius: 7px;
  background-color: white;
  padding: 0 20px 0 20px;
  width: 505.597px;
  height: 552px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.container3 {
  flex: 0.13;
  border: 1px solid;
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  border: none;
}
p {
  margin-bottom: 100px;
}
.dropdown {
  margin-top: 10px;
}
.menu1 {
  margin-top: 70px;
}
.menu2 {
  margin-top: 10px;
}
.menu3 {
  margin-top: 10px;
}
.menu4 {
  margin-top: 10px;
}
button {
  border: 1px solid darkcyan;
  padding: 1px 20px 1px 20px;
  border-radius: 0 5px 5px 0;
  background-color: teal;
  color: white;
  width: 90%;
  height: 30px;
}
button:hover {
  background-color: aqua;
  color: white;
}
